<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th></th>
					<th>Lender</th>
					<th>Account type</th>
					<th>Account No</th>
					<th>Ownership</th>
					<th>Date Reported</th>
					<th>Account Status</th>
					<th>Date Opened</th>
					<th>Sanction Amt/ Highest Credit</th>
					<th>Current Balance</th>
					<th>Amount Overdue</th>
				</tr>

			</thead>

			<tbody>
				<tr>
					<td>A101</td>
					<td>Saving</td>
					<td>13244</td>
					<td>My</td>
					<td>Running</td>
					<td>08/02/2022</td>
					<td>Running</td>
					<td>08/02/2022</td>
					<td>12000</td>
					<td>35000</td>
					<td>29000</td>
				</tr>
				<tr>
					<td>A102</td>
					<td>Saving</td>
					<td>13244</td>
					<td>My</td>
					<td>Running</td>
					<td>08/02/2022</td>
					<td>Running</td>
					<td>08/02/2022</td>
					<td>12000</td>
					<td>35000</td>
					<td>29000</td>
				</tr>
			</tbody>


		</table>
	</div>
</body>
</html>